@import '../game/styles/base.css';

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  display: grid;
  grid-template-columns: auto 530px;
  grid-template-rows: 54px auto 15rem;
  grid-template-areas:
    'toolbar tiles'
    'canvas tiles'
    'meta tiles';
}

.canvas {
  background-color: skyblue;
  grid-area: canvas;
  position: relative;
  overflow: scroll;
}

.canvas__layer {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0.5;
  outline: 1px solid #fff;
}

#canvas-blocked,
#canvas-events {
  opacity: 0;
}

.canvas__layer--show {
  opacity: 1 !important;
}

.toolbar {
  grid-area: toolbar;
  background-color: darkseagreen;
  border-bottom: 4px solid #fff;
}

.tiles {
  background-color: grey;
  overflow-y: scroll;
  grid-area: tiles;
  border-left: 4px solid #fff;
  padding-right: 14px;
  position: relative;
}

.event {
  display: none;
  padding: 1rem;
}

.event--show {
  display: block;
}

.event__item {
  display: inline-block;
  margin-right: 0.5rem;
}

.event__item--active {
  outline: 2px solid #000;
}

.event__options {
  display: none;
}

.event__options--show {
  display: block;
}

.blocked-tiles {
  display: none;
  padding: 1rem;
}

.blocked-tiles--show {
  display: block;
}

.blocked-tiles__tile {
  display: inline-block;
  margin-right: 0.5rem;
}

.blocked-tiles__tile--active {
  outline: 2px solid #000;
}

.tileset {
  display: none;
}

.tileset--show {
  display: block;
}

.tileset__img {
  width: 1024px;
  height: 5440px;
}

.tileset__active,
.canvas__active {
  width: 64px;
  height: 64px;
  position: absolute;
  border: 2px solid #999;
  background-color: rgba(200, 200, 200, 0.3);
  top: 0;
  left: 0;
  pointer-events: none;
}

.tileset__active--first,
.canvas__active {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.canvas__active {
  display: none;
}

.canvas__active--show {
  display: block;
}

.meta {
  background-color: rosybrown;
  grid-area: meta;
  border-top: 4px solid #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.new-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: wheat;
  padding: 1rem;
  border: 4px solid #fff;
}

.new-map--hide {
  display: none;
}

.layer {
  display: none;
  position: absolute;
}

.layer--show {
  display: flex;
}

.layer__button {
  margin: 0.5rem;
}

.layer__button--active {
  margin: 0.5rem;
  outline: 2px solid #000;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  padding: 0.5rem;
  font-size: 16px;
  display: block;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

h1 {
  margin-bottom: 1rem;
}
