@import "base.css";

#canvas-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.button {
  background-color: transparent;
}

.character {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.character--hide {
  display: none;
}

.character__inner {
  background-color: #fff;
  position: absolute;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.character__button {
  margin: 1rem auto;
  display: block;
  background-color: silver;
  padding: 1rem;
}

.attributes {
  flex-grow: 1;
  list-style: none;
}

.attribute--good {
  color: green;
}

.attribute--bad {
  color: red;
}

.race {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.race__img {
  width: 32px;
  height: 64px;
  overflow: hidden;
  background-position: -48px 700px;
}

.race__img--human0 {
  background-image: url("/game/images/races/human0.png");
}

.race__img--orc0 {
  background-image: url("/game/images/races/orc0.png");
}

.race__img--elf0 {
  background-image: url("/game/images/races/elf0.png");
}

.race__img--vampire0 {
  background-image: url("/game/images/races/vampire0.png");
}

.race__img--ghost0 {
  background-image: url("/game/images/races/ghost0.png");
}

.race__img--zombie0 {
  background-image: url("/game/images/races/zombie0.png");
}

.race__img--skeleton0 {
  background-image: url("/game/images/races/skeleton0.png");
}
