@import "base.css";
@import "inventory.css";

:root {
  --cursorDefault: url("../images/cursors/default.png"), default;
  --cursorUse: url("../images/cursors/use.png"), default;
  --cursorInfo: url("../images/cursors/info.png"), default;
  --fontColor: #3a1f0b;
  --colorRed: #bf5025;
}

html,
body {
  overflow: hidden;
  font-size: 18px;
  /* background: linear-gradient(90deg, #342a24 0%, #42362f 50%, #342a24 100%); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #342a24;
  color: var(--fontColor);
  font-family: var(--font-family);
  cursor: var(--cursorDefault);
  height: 100%;
}

#canvas-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.map-layer {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

.cursor--use {
  cursor: var(--cursorUse);
}

.cursor--info {
  cursor: var(--cursorInfo);
}

.window {
  position: fixed;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  width: 600px;
  height: 404px;
  background: url("../images/window.png") no-repeat transparent;
  background-size: contain;
  flex-direction: column;
  padding-top: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;
  z-index: 2;
}

.window--small {
  background: url("../images/window-small.png") no-repeat transparent;
  background-size: contain;
  width: 291px;
  height: 412px;
}

.window--show {
  opacity: 1;
  pointer-events: initial;
}

.window--focussed {
  transition: filter 0.2s linear;
  filter: saturate(0.5) blur(3px);
}

.window__section {
  background: url("../images/window-inner.png") no-repeat transparent;
  background-size: contain;
  padding: 3rem 2rem;
  width: 580px;
  height: 372px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
}

.window__section--small {
  background: url("../images/window-inner-small.png") no-repeat transparent;
  background-size: contain;
  width: 270px;
  height: 387px;
}

.window__title {
  background: url("../images/window-title.png") no-repeat transparent;
  background-size: contain;
  position: absolute;
  top: -8px;
  width: 206px;
  height: 45px;
  color: #e2d8c7;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 22px;
  padding: 12px;
  text-align: center;
  text-shadow: 0px 0px 3px #000;
  line-height: 1;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.window__section--editor {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.window__section-column {
  width: 170px;
}

.window__button {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.window__close {
  background: url("../images/close.png") no-repeat transparent;
  background-size: contain;
  cursor: var(--cursorUse);
  position: absolute;
  top: -12px;
  right: -12px;
  color: #e2d8c7;
  width: 40px;
  height: 40px;
}

.window__close:focus {
  outline: none;
}

.button {
  background: url("../images/button.png") no-repeat transparent;
  cursor: var(--cursorUse);
  background-size: 100% auto;
  color: #e2d8c7;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  font-weight: normal;
  font-family: var(--font-family);
  margin: 5px;
  height: 49px;
  width: 150px;
  line-height: 26px;
  font-size: 22px;
  text-shadow: 0 0 3px #000;
  transition: color 0.2s linear;
}

.button:hover,
.button:focus {
  color: #e5a83d;
}

.button:active {
  background-position: 0 -50px;
  padding-top: 15px;
  color: #98876a;
}

.button:disabled,
.icon-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button--long-text {
  font-size: 18px;
}

.icon-button {
  background: url("../images/icon.png") no-repeat transparent;
  cursor: var(--cursorUse);
  background-size: contain;
  color: #e2d8c7;
  width: 40px;
  height: 40px;
  padding: 6px;
  flex-shrink: 0;
  line-height: 1;
  transition: color 0.2s linear;
}

.icon-button:hover,
.icon-button:focus {
  color: #e5a83d;
}

.icon-button:active {
  color: #98876a;
}

.icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.input {
  border: 3px solid #a2724a;
  padding: 1rem 0.5rem;
  width: 100%;
  border-radius: 5px;
  background-color: #cfac7f;
  transition: border-color 0.2s linear;
  font-family: var(--font-family);
  color: var(--fontColor);
  font-size: 1rem;
}

.input:hover,
.input:focus,
.input:active {
  border-color: #3e2f1f;
  outline: none;
}

.select {
  border: 3px solid #a2724a;
  padding: 1rem 0.5rem;
  width: 100%;
  border-radius: 5px;
  background-color: #cfac7f;
  transition: border-color 0.2s linear;
  font-family: var(--font-family);
  color: var(--fontColor);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.select:hover,
.select:focus,
.select:active {
  border-color: #3e2f1f;
  outline: none;
}

h2 {
  font-size: 1.8rem;
  line-height: 1;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h3 {
  font-size: 1.2rem;
  line-height: 1;
  margin: 0 0.5rem;
}

p {
  line-height: 1;
}

.label {
  font-size: 1rem;
}

.attributes {
  flex-grow: 1;
  list-style: none;
}

.attribute--good {
  color: #3a6f20;
}

.attribute--bad {
  color: #bf5025;
}

.option {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.preview-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 110px;
  height: 100%;
}

.preview {
  width: 110px;
  height: 170px;
  overflow: hidden;
  background-size: 800px 600px;
  background-position: -40px 368px;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.race-description {
  width: 180px;
  margin-bottom: 1rem;
}

.health-bar {
  background: url("/game/images/healthbar.png") no-repeat;
  width: 400px;
  height: 90px;
  position: fixed;
  top: 0;
  left: 5px;
  padding: 0 43px;
  pointer-events: none;
  opacity: 0;
}

.health-bar--show {
  opacity: 1;
}

.health-bar__health {
  background: url("/game/images/healthbar.png") no-repeat;
  position: relative;
  height: 90px;
  width: 100%;
  background-position: -43px -90px;
}

.health-bar__number {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px 1px 0 #000;
  padding-top: 2rem;
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.minimap {
  background: url("/game/images/minimap.png") top right no-repeat;
  background-size: cover;
  position: fixed;
  right: 5px;
  top: 5px;
  height: 300px;
  width: 300px;
  opacity: 0;
}

.minimap--show {
  opacity: 1;
}

.minimap::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background-color: #e2d8c7;
  border-radius: 50%;
  border: 1px solid #464646;
}

.minimap__wrapper {
  position: absolute;
  overflow: hidden;
  right: 20px;
  top: 20px;
  height: 260px;
  width: 260px;
}

.minimap__inner {
  position: relative;
  transform: translateX(-218px) translateY(-218px);
}

.menu-frame {
  background: url("/game/images/middle-frame.png") 0 0 no-repeat;
  position: fixed;
  width: 340px;
  height: 240px;
  top: -124px;
  left: 50%;
  transform: translateX(-50%);
}

.menu-button {
  position: absolute;
  left: calc(50% - 30px);
  bottom: 50px;
  width: 60px;
  height: 60px;
}

.inventory-button {
  position: absolute;
  left: 93px;
  bottom: 65px;
  display: none;
}

.stats-button {
  position: absolute;
  left: 121px;
  bottom: 16px;
  display: none;
}

.volume-button {
  position: absolute;
  right: 121px;
  bottom: 16px;
}

.fullscreen-button {
  position: absolute;
  right: 93px;
  bottom: 65px;
}

.statistics {
  margin-left: 15px;
  overflow-y: auto;
  width: calc(100% - 15px);
  padding-right: 15px;
  height: 100%;
}

.statistics__stat {
  display: flex;
  justify-content: space-between;
}
